RewriteEngine On
RewriteBase /~b2-argo/dsa_assign/app/

RewriteRule ^(.+)\.phps$ https://raw.github.com/benargo/Twin-Cities/master/$1.php [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)$ index.php?app=$1 [L,QSA]
