<?xml version="1.0"?>
<config version="1.0">
	<city id="0">
		<name>Oxford</name>
		<region>Oxfordshire</region>
		<country>United Kingdom</country>
		<weather>http://www.google.com/ig/api?weather=Oxford+GB</weather>
		<news>http://feeds.bbci.co.uk/news/england/oxford/rss.xml</news>
		<map>
			<lat>51.751944</lat>
			<long>-1.257778</long>
			<scale>3000</scale>
		</map>
	</city>
	<city id="1">
		<name>Grenoble</name>
		<region>Rhone-Alpes</region>
		<country>France</country>
		<weather>http://www.google.com/ig/api?weather=Grenoble+FR</weather>
		<news>http://www.guide2rhonealpes.com/news_rss.asp</news>
		<map>
			<lat>45.185602</lat>
			<long>5.740748</long>
			<scale>3000</scale>
		</map>
	</city>
</config>