.weather table {
	width: 500px;
}

.weather td {
	padding: 5px;
	line-height: 100%;
}

.weather td:first-of-type {
	padding: 5px 5px 5px 0px;
	width: 200px;
}

.weather tr:nth-of-type(3n) td {
	
	border-bottom: solid 1px gray;
	
}

.weather td > img {
	float: right;
	padding: 5px;
}